body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-section {
    padding: 20px;
    width: 50%;
    min-height: 150vh;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.profile-info h2, .profile-info h3 {
    margin: 0;
}

.profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

.box {
    margin: 20px 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.box:hover {
    transform: translateY(-5px);
}

.pop-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.pop-button:hover {
    background-color: #0056b3;
}

.right-section {
    padding: 20px;
    width: 50%;
}

h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

h1 span {
    color: #007bff;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
    }
}
